s@charset "utf-8";
/* CSS Document */
*{
	padding:0 0;
	margin:0 0;
}
body{	
	background:#f2f2f2;
	margin:0;
	}
	
ul{
	margin:0;
	padding:0;
	list-style:none;
}
li{
	margin:0;
	padding:0;
}
.carName{
	width:96%;
	height:50px;
	font-size:18px;
	font-weight:600;
	font-family:"微软雅黑";
	text-align:center;
	background:#FFF;
	margin:10px auto 0 auto;
	border:1px solid #999;
	border-radius:3px;
}

.carName p{
	margin-top:15px;
}
.act{
	width:96%;
	height:auto;
	background:#FFF;
	border:solid 1px #999;
	border-radius:3px;
	margin:10px auto 10px auto;
}

.dot-line{
	background:url(../img/dot-line.png) repeat-x;
	width:96%;
	height:5px;
	margin:10px auto 0 auto;	
}

.title{
	width:88%;
	height:auto;
	font-size:18px;
	font-family:"微软雅黑";
	margin:10px auto 10px auto;
}
.time{
	margin-left:6%;
	margin-top:5px;
	font-family:"微软雅黑";
	font-size:16px;
	color:#999;
}
.actPic{
	width:88%;
	margin:0 5% 0 6%;
}
.actLink{
	text-decoration:none;
	color:#000;
}
.footer{
	width:100%;
	height:25px;
	background:#000;
	opacity:0.4;
	font-family:"微软雅黑";
	font-size:10px;
	color:#FFF;
	text-align:center;
	line-height:10px;
	padding-top:10px;
}

.footer p {
	margin-top:0;
	margin-bottom:0;
}