s@charset "utf-8";
/* CSS Document */
.clear-both{
	clear:both;
}
.homeList
{
	width:100%;
	height:auto;
}
.homeList li{
}
.labelLinkOLeft{
	width:48%;
	height:400px;
	display:block;
	float:left;
	background:#f2f2f2;
	border-top:solid 1px #FFF;
	border-left:solid 1px #FFF;
	border-bottom:solid 1px #FFF;
	border-right:solid 1px #FFF;
	margin:0 0 0 1%;
	text-decoration:none;
	font-family:"微软雅黑";
}
.labelLinkORight{
	width:48%;
	height:400px;
	display:block;
	float:left;
	background:#f8f8f8;
	border-top:solid 1px #e1e1e1;
	border-left:solid 1px #e1e1e1;
	border-bottom:solid 1px #e1e1e1;
	border-right:solid 1px #e1e1e1;
	margin:0 1% 0 0 ;
	text-decoration:none;
	font-family:"微软雅黑";
}
.labelLinkERight{
	width:48%;
	height:400px;
	display:block;
	float:left;
	background:#f2f2f2;
	border-top:solid 1px #e1e1e1;
	border-left:solid 1px #e1e1e1;
	border-bottom:solid 1px #e1e1e1;
	border-right:solid 1px #e1e1e1;
	margin:0 1% 0 0;
	text-decoration:none;
	font-family:"微软雅黑";
}
.labelLinkELeft{
	width:48%;
	height:400px;
	display:block;
	float:left;
	background:#f8f8f8;
	border-top:solid 1px #FFF;
	border-left:solid 1px #FFF;
	border-bottom:solid 1px #FFF;
	border-right:solid 1px #FFF;
	margin:0 0 0 1% ;
	text-decoration:none;
	font-family:"微软雅黑";
}
.labelPic{
	width:200px;
	height:200px;
	margin:80px auto 0 auto;
}
.labelLetter{
	width:200px;
	height:70px;
	line-height:70px;
	color:#999;
	font-size:45px;
	margin:0 auto;
}

.labelLetter p{
	text-align:center;
}
.clr{
	width:100%;
	height:1210px;
}
.footer{
	background:#000;
	opacity:0.4;
	width:100%;
	height:80px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:31px;
	margin-top:50px;
	color:#FFF;
	padding-top:30px;
}

